* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    top: 0;
    height: 46px;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
}

#nav li a {
    text-decoration: none;
    font-size: 15px;
}

#nav > li > a {
    color: #fff;
    line-height: 46px;
    text-transform: uppercase;
    padding: 16px 24px;

}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

#nav .subnav li {
    display: block;
    padding: 8px 16px;
    height: 38px;
    min-width: 160px;
}

#nav .subnav a {
    color: #000;
}

#nav .down-arrow {
    font-size: 10px;
}

#header .bars-btn,
#header .search-btn {
    float: right;
    font-size: 16px;
    color: #fff;
    padding: 14px 24px;
    cursor: pointer;
}

#header .bars-btn {
    display: none;
}

#header .bars-btn:hover,
#nav > li:hover > a,
#nav .subnav li:hover {
    background-color: #ccc;
    color: #000;
}

#header .search-btn:hover {
    background-color: red;
}

#nav li:hover .subnav {
    display: block;
}

/* Slider */

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/ny.jpg') center / cover no-repeat;
    position: relative;
}

#slider .content-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    padding: 32px 16px;
}

#slider .header-slider {
    margin: 10px 0px;
    font-size: 24px;
}

#slider .dec-slider {
    font-size: 15px;
    margin: 15px 0px;
}

/* Content */
.content-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 64px 16px;
}

/* The band */

.content-section .header-content {
    font-size: 30px;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

.content-section .slogan-content {
    opacity: 0.6;
    font-size: 15px;
    margin: 15px 0px;
    text-align: center;
}

.content-section .description-content {
    font-size: 15px;
    margin: 15px 0px;
    line-height: 1.6;
    text-align: justify;
}

.members-list {
    display: flex; 
    flex-wrap: wrap;
    padding: 32px 0px;
    text-align: center;
    justify-content: center;
}

.members-list .fullName {
    margin: 15px 0px;
    font-size: 15px;
}

.members-list .member-image {
    width: 60%;
    margin-bottom: 16px;
    border-radius: 8px;
}

/* Tour dates */

.tour-dates {
    background-color: #000;
    color: #fff;
}

.tour-dates .month {
    background-color: #fff;
    margin-top: 35px;
}

.unavail-month {
    padding: 8px 16px;
    font-size: 15px;
    color: #757575;
    text-align: left;
    height: 40px;
    line-height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.tour-dates .sold-out {
    margin-left: 16px;
    padding: 0px 8px;
    background-color: red;
    color: #fff;
}

.tour-dates .quantity {
    float: right;
    margin-right: 16px;
    width: 24px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    text-align: center;
}

/* Places */
.tour-dates .places-list {
    display: flex;
    padding: 32px 0px;
    margin-left: -8px;
    margin-right: -8px;
}

.places-list .place {
    padding: 0px 8px;
    margin-bottom: 16px;
    font-size: 15px;
}

.places-list .place-image {
    width: 100%;
    display: block;
}

.places-list .description-place {
    background-color: #fff;
    color: #000;
    padding: 0.15px 16px;
}

.places-list .location {
    margin: 15px 0px;
    font-weight: 600;
}

.places-list .time {
    margin: 15px 0px;
    opacity: 0.6;
}

.places-list .dec-place {
    margin: 15px 0px;
}

.places-list .buy-ticket {
    border: none;
    background-color: #000;
    margin-bottom: 16px;
    padding: 8px 16px;
    height: 40px;
    color: #fff;
}

.places-list .buy-ticket:hover {
    background-color: #ccc;
    color: #000;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal .frame {
    width: 900px;
    animation: modalFadeIn 0.3s ease-in-out;
}

.modal .banner-modal {
    background-color: #009688;
    color: #fff;
    padding: 32px 16px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    height: 130px;
    line-height: 65px;
}

.modal .modal-close {
    float: right;
    padding: 16px 16px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.modal .body-modal {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0.15px 16px;
}

.modal .modal-label {
    margin: 15px 0px;
    font-size: 15px;
}

.modal .modal-control {
    padding: 8px;
    border: 1px solid #ccc;
    height: 40px;
}

.modal .modal-btn {
    background-color: #009688;
    color: #fff;
    padding: 16px;
    margin: 16px 0px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.modal .modal-close:hover,
.modal .modal-btn:hover {
    background-color: #ccc;
    color: #000;
}

.modal .footer-modal {
    margin: 15px 0px;
    font-size: 15px;
    text-align: end;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-300px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Contact */

.content-contact {
    padding: 32px 0px;
    display: flex;
}

.content-contact .our-info {
    flex: 1;
    line-height: 2;
    font-size: 18px;
    margin-bottom: 16px;
}

.content-contact .icon-contact {
    margin-right: 10px;
}

.content-contact .form-control {
    flex: 1;
    padding: 8px;
    height: 40px;
}

.content-contact .form-message {
    width: 100%;
}

.content-contact .btn-submit {
    margin: 16px 0px;
    padding: 8px 16px;
    background-color: #000;
    border: none;
    color: #fff;
    float: right;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}

.content-contact .btn-submit:hover {
    background-color: #ccc;
    color: #000;
}

/* Footer */

.map-img {
    width: 100%;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 16px;
    background-color: #f1f1f1;
    opacity: 0.6;
}

#footer .social-network a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-size: 22px;
    margin: 0px 2px;
}

#footer .link-footer {
    margin: 15px 0px;
    font-size: 15px;
}

#footer .link-w3 {
    color: #000;
}

#footer .social-network a:hover {
    opacity: 0.4;
}







